In [4]:
#Importing_libraries
import pandas as pd
import numpy as np

In [5]:
#Data Collection
da=pd.read_excel('INX_employee.xlsx')

In [7]:
#Data Understanding - Data Understanding/DQ Report
da.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [10]:
#Data cleaning
da.isnull().sum()

EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

In [49]:
#splitting of the data
y=da['PerformanceRating']
X=da.drop(['PerformanceRating'],axis=1)

In [50]:
X.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,32,1,2,2,5,13,2,10,3,...,12,4,10,2,2,10,7,0,8,0
1,1,47,1,2,2,5,13,2,14,4,...,12,4,20,2,3,7,7,1,7,0
2,2,40,1,1,1,5,13,1,5,4,...,21,3,20,2,3,18,13,1,12,0
3,3,41,1,0,0,3,8,2,10,4,...,15,2,23,2,2,21,6,12,6,0
4,4,60,1,2,2,5,13,2,16,4,...,14,4,10,1,3,2,2,2,2,0

In [51]:
y.head()

0    3
1    3
2    4
3    3
4    3
Name: PerformanceRating, dtype: int64

(960, 27)
(240, 27)

In [25]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['Gender'] = le.fit_transform(da['Gender'])

print(da)

     EmpNumber  Age  Gender EducationBackground MaritalStatus  \
0     E1001000   32       1           Marketing        Single
1     E1001006   47       1           Marketing        Single
2     E1001007   40       1       Life Sciences       Married
3     E1001009   41       1     Human Resources      Divorced
4     E1001010   60       1           Marketing        Single
...        ...  ...     ...                 ...           ...
1195   E100992   27       0             Medical      Divorced
1196   E100993   37       1       Life Sciences        Single
1197   E100994   50       1             Medical       Married
1198   E100995   34       0             Medical        Single
1199   E100998   24       0       Life Sciences        Single

        EmpDepartment        EmpJobRole BusinessTravelFrequency  \
0               Sales   Sales Executive           Travel_Rarely
1               Sales   Sales Executive           Travel_Rarely
2               Sales   Sales Executive       Travel_Frequently
3     Human Resources           Manager           Travel_Rarely
4               Sales   Sales Executive           Travel_Rarely
...               ...               ...                     ...
1195            Sales   Sales Executive       Travel_Frequently
1196      Development  Senior Developer           Travel_Rarely
1197      Development  Senior Developer           Travel_Rarely
1198     Data Science    Data Scientist           Travel_Rarely
1199            Sales   Sales Executive           Travel_Rarely

      DistanceFromHome  EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                   10                  3  ...                            4
1                   14                  4  ...                            4
2                    5                  4  ...                            3
3                   10                  4  ...                            2
4                   16                  4  ...                            4
...                ...                ...  ...                          ...
1195                 3                  1  ...                            2
1196                10                  2  ...                            1
1197                28                  1  ...                            3
1198                 9                  3  ...                            2
1199                 3                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8         No
1                          1                     7         No
2                          1                    12         No
3                         12                     6         No
4                          2                     2         No
...                      ...                   ...        ...
1195                       0                     4         No
1196                       0                     0         No
1197                       3                     8         No
1198                       7                     7         No
1199                       2                     0        Yes

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [26]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['EducationBackground'] = le.fit_transform(da['EducationBackground'])

print(da)

     EmpNumber  Age  Gender  EducationBackground MaritalStatus  \
0     E1001000   32       1                    2        Single
1     E1001006   47       1                    2        Single
2     E1001007   40       1                    1       Married
3     E1001009   41       1                    0      Divorced
4     E1001010   60       1                    2        Single
...        ...  ...     ...                  ...           ...
1195   E100992   27       0                    3      Divorced
1196   E100993   37       1                    1        Single
1197   E100994   50       1                    3       Married
1198   E100995   34       0                    3        Single
1199   E100998   24       0                    1        Single

        EmpDepartment        EmpJobRole BusinessTravelFrequency  \
0               Sales   Sales Executive           Travel_Rarely
1               Sales   Sales Executive           Travel_Rarely
2               Sales   Sales Executive       Travel_Frequently
3     Human Resources           Manager           Travel_Rarely
4               Sales   Sales Executive           Travel_Rarely
...               ...               ...                     ...
1195            Sales   Sales Executive       Travel_Frequently
1196      Development  Senior Developer           Travel_Rarely
1197      Development  Senior Developer           Travel_Rarely
1198     Data Science    Data Scientist           Travel_Rarely
1199            Sales   Sales Executive           Travel_Rarely

      DistanceFromHome  EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                   10                  3  ...                            4
1                   14                  4  ...                            4
2                    5                  4  ...                            3
3                   10                  4  ...                            2
4                   16                  4  ...                            4
...                ...                ...  ...                          ...
1195                 3                  1  ...                            2
1196                10                  2  ...                            1
1197                28                  1  ...                            3
1198                 9                  3  ...                            2
1199                 3                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8         No
1                          1                     7         No
2                          1                    12         No
3                         12                     6         No
4                          2                     2         No
...                      ...                   ...        ...
1195                       0                     4         No
1196                       0                     0         No
1197                       3                     8         No
1198                       7                     7         No
1199                       2                     0        Yes

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [27]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['MaritalStatus'] = le.fit_transform(da['MaritalStatus'])

print(da)

     EmpNumber  Age  Gender  EducationBackground  MaritalStatus  \
0     E1001000   32       1                    2              2
1     E1001006   47       1                    2              2
2     E1001007   40       1                    1              1
3     E1001009   41       1                    0              0
4     E1001010   60       1                    2              2
...        ...  ...     ...                  ...            ...
1195   E100992   27       0                    3              0
1196   E100993   37       1                    1              2
1197   E100994   50       1                    3              1
1198   E100995   34       0                    3              2
1199   E100998   24       0                    1              2

        EmpDepartment        EmpJobRole BusinessTravelFrequency  \
0               Sales   Sales Executive           Travel_Rarely
1               Sales   Sales Executive           Travel_Rarely
2               Sales   Sales Executive       Travel_Frequently
3     Human Resources           Manager           Travel_Rarely
4               Sales   Sales Executive           Travel_Rarely
...               ...               ...                     ...
1195            Sales   Sales Executive       Travel_Frequently
1196      Development  Senior Developer           Travel_Rarely
1197      Development  Senior Developer           Travel_Rarely
1198     Data Science    Data Scientist           Travel_Rarely
1199            Sales   Sales Executive           Travel_Rarely

      DistanceFromHome  EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                   10                  3  ...                            4
1                   14                  4  ...                            4
2                    5                  4  ...                            3
3                   10                  4  ...                            2
4                   16                  4  ...                            4
...                ...                ...  ...                          ...
1195                 3                  1  ...                            2
1196                10                  2  ...                            1
1197                28                  1  ...                            3
1198                 9                  3  ...                            2
1199                 3                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8         No
1                          1                     7         No
2                          1                    12         No
3                         12                     6         No
4                          2                     2         No
...                      ...                   ...        ...
1195                       0                     4         No
1196                       0                     0         No
1197                       3                     8         No
1198                       7                     7         No
1199                       2                     0        Yes

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [28]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['EmpDepartment'] = le.fit_transform(da['EmpDepartment'])

print(da)

     EmpNumber  Age  Gender  EducationBackground  MaritalStatus  \
0     E1001000   32       1                    2              2
1     E1001006   47       1                    2              2
2     E1001007   40       1                    1              1
3     E1001009   41       1                    0              0
4     E1001010   60       1                    2              2
...        ...  ...     ...                  ...            ...
1195   E100992   27       0                    3              0
1196   E100993   37       1                    1              2
1197   E100994   50       1                    3              1
1198   E100995   34       0                    3              2
1199   E100998   24       0                    1              2

      EmpDepartment        EmpJobRole BusinessTravelFrequency  \
0                 5   Sales Executive           Travel_Rarely
1                 5   Sales Executive           Travel_Rarely
2                 5   Sales Executive       Travel_Frequently
3                 3           Manager           Travel_Rarely
4                 5   Sales Executive           Travel_Rarely
...             ...               ...                     ...
1195              5   Sales Executive       Travel_Frequently
1196              1  Senior Developer           Travel_Rarely
1197              1  Senior Developer           Travel_Rarely
1198              0    Data Scientist           Travel_Rarely
1199              5   Sales Executive           Travel_Rarely

      DistanceFromHome  EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                   10                  3  ...                            4
1                   14                  4  ...                            4
2                    5                  4  ...                            3
3                   10                  4  ...                            2
4                   16                  4  ...                            4
...                ...                ...  ...                          ...
1195                 3                  1  ...                            2
1196                10                  2  ...                            1
1197                28                  1  ...                            3
1198                 9                  3  ...                            2
1199                 3                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8         No
1                          1                     7         No
2                          1                    12         No
3                         12                     6         No
4                          2                     2         No
...                      ...                   ...        ...
1195                       0                     4         No
1196                       0                     0         No
1197                       3                     8         No
1198                       7                     7         No
1199                       2                     0        Yes

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [29]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['EmpJobRole'] = le.fit_transform(da['EmpJobRole'])

print(da)

     EmpNumber  Age  Gender  EducationBackground  MaritalStatus  \
0     E1001000   32       1                    2              2
1     E1001006   47       1                    2              2
2     E1001007   40       1                    1              1
3     E1001009   41       1                    0              0
4     E1001010   60       1                    2              2
...        ...  ...     ...                  ...            ...
1195   E100992   27       0                    3              0
1196   E100993   37       1                    1              2
1197   E100994   50       1                    3              1
1198   E100995   34       0                    3              2
1199   E100998   24       0                    1              2

      EmpDepartment  EmpJobRole BusinessTravelFrequency  DistanceFromHome  \
0                 5          13           Travel_Rarely                10
1                 5          13           Travel_Rarely                14
2                 5          13       Travel_Frequently                 5
3                 3           8           Travel_Rarely                10
4                 5          13           Travel_Rarely                16
...             ...         ...                     ...               ...
1195              5          13       Travel_Frequently                 3
1196              1          15           Travel_Rarely                10
1197              1          15           Travel_Rarely                28
1198              0           1           Travel_Rarely                 9
1199              5          13           Travel_Rarely                 3

      EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                     3  ...                            4
1                     4  ...                            4
2                     4  ...                            3
3                     4  ...                            2
4                     4  ...                            4
...                 ...  ...                          ...
1195                  1  ...                            2
1196                  2  ...                            1
1197                  1  ...                            3
1198                  3  ...                            2
1199                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8         No
1                          1                     7         No
2                          1                    12         No
3                         12                     6         No
4                          2                     2         No
...                      ...                   ...        ...
1195                       0                     4         No
1196                       0                     0         No
1197                       3                     8         No
1198                       7                     7         No
1199                       2                     0        Yes

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [30]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['BusinessTravelFrequency'] = le.fit_transform(da['BusinessTravelFrequency'])

print(da)

     EmpNumber  Age  Gender  EducationBackground  MaritalStatus  \
0     E1001000   32       1                    2              2
1     E1001006   47       1                    2              2
2     E1001007   40       1                    1              1
3     E1001009   41       1                    0              0
4     E1001010   60       1                    2              2
...        ...  ...     ...                  ...            ...
1195   E100992   27       0                    3              0
1196   E100993   37       1                    1              2
1197   E100994   50       1                    3              1
1198   E100995   34       0                    3              2
1199   E100998   24       0                    1              2

      EmpDepartment  EmpJobRole  BusinessTravelFrequency  DistanceFromHome  \
0                 5          13                        2                10
1                 5          13                        2                14
2                 5          13                        1                 5
3                 3           8                        2                10
4                 5          13                        2                16
...             ...         ...                      ...               ...
1195              5          13                        1                 3
1196              1          15                        2                10
1197              1          15                        2                28
1198              0           1                        2                 9
1199              5          13                        2                 3

      EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                     3  ...                            4
1                     4  ...                            4
2                     4  ...                            3
3                     4  ...                            2
4                     4  ...                            4
...                 ...  ...                          ...
1195                  1  ...                            2
1196                  2  ...                            1
1197                  1  ...                            3
1198                  3  ...                            2
1199                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8         No
1                          1                     7         No
2                          1                    12         No
3                         12                     6         No
4                          2                     2         No
...                      ...                   ...        ...
1195                       0                     4         No
1196                       0                     0         No
1197                       3                     8         No
1198                       7                     7         No
1199                       2                     0        Yes

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [32]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['Attrition'] = le.fit_transform(da['Attrition'])

print(da)

     EmpNumber  Age  Gender  EducationBackground  MaritalStatus  \
0     E1001000   32       1                    2              2
1     E1001006   47       1                    2              2
2     E1001007   40       1                    1              1
3     E1001009   41       1                    0              0
4     E1001010   60       1                    2              2
...        ...  ...     ...                  ...            ...
1195   E100992   27       0                    3              0
1196   E100993   37       1                    1              2
1197   E100994   50       1                    3              1
1198   E100995   34       0                    3              2
1199   E100998   24       0                    1              2

      EmpDepartment  EmpJobRole  BusinessTravelFrequency  DistanceFromHome  \
0                 5          13                        2                10
1                 5          13                        2                14
2                 5          13                        1                 5
3                 3           8                        2                10
4                 5          13                        2                16
...             ...         ...                      ...               ...
1195              5          13                        1                 3
1196              1          15                        2                10
1197              1          15                        2                28
1198              0           1                        2                 9
1199              5          13                        2                 3

      EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                     3  ...                            4
1                     4  ...                            4
2                     4  ...                            3
3                     4  ...                            2
4                     4  ...                            4
...                 ...  ...                          ...
1195                  1  ...                            2
1196                  2  ...                            1
1197                  1  ...                            3
1198                  3  ...                            2
1199                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8          0
1                          1                     7          0
2                          1                    12          0
3                         12                     6          0
4                          2                     2          0
...                      ...                   ...        ...
1195                       0                     4          0
1196                       0                     0          0
1197                       3                     8          0
1198                       7                     7          0
1199                       2                     0          1

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['EmpNumber'] = le.fit_transform(da['EmpNumber'])

print(da)

      EmpNumber  Age  Gender  EducationBackground  MaritalStatus  \
0             0   32       1                    2              2
1             1   47       1                    2              2
2             2   40       1                    1              1
3             3   41       1                    0              0
4             4   60       1                    2              2
...         ...  ...     ...                  ...            ...
1195       1195   27       0                    3              0
1196       1196   37       1                    1              2
1197       1197   50       1                    3              1
1198       1198   34       0                    3              2
1199       1199   24       0                    1              2

      EmpDepartment  EmpJobRole  BusinessTravelFrequency  DistanceFromHome  \
0                 5          13                        2                10
1                 5          13                        2                14
2                 5          13                        1                 5
3                 3           8                        2                10
4                 5          13                        2                16
...             ...         ...                      ...               ...
1195              5          13                        1                 3
1196              1          15                        2                10
1197              1          15                        2                28
1198              0           1                        2                 9
1199              5          13                        2                 3

      EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                     3  ...                            4
1                     4  ...                            4
2                     4  ...                            3
3                     4  ...                            2
4                     4  ...                            4
...                 ...  ...                          ...
1195                  1  ...                            2
1196                  2  ...                            1
1197                  1  ...                            3
1198                  3  ...                            2
1199                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8          0
1                          1                     7          0
2                          1                    12          0
3                         12                     6          0
4                          2                     2          0
...                      ...                   ...        ...
1195                       0                     4          0
1196                       0                     0          0
1197                       3                     8          0
1198                       7                     7          0
1199                       2                     0          1

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [151]:
da.dtypes

EmpNumber                       int64
Age                             int64
Gender                          int64
EducationBackground             int64
MaritalStatus                   int64
EmpDepartment                   int64
EmpJobRole                      int64
BusinessTravelFrequency         int64
DistanceFromHome                int64
EmpEducationLevel               int64
EmpEnvironmentSatisfaction      int64
EmpHourlyRate                   int64
EmpJobInvolvement               int64
EmpJobLevel                     int64
EmpJobSatisfaction              int64
NumCompaniesWorked              int64
OverTime                        int64
EmpLastSalaryHikePercent        int64
EmpRelationshipSatisfaction     int64
TotalWorkExperienceInYears      int64
TrainingTimesLastYear           int64
EmpWorkLifeBalance              int64
ExperienceYearsAtThisCompany    int64
ExperienceYearsInCurrentRole    int64
YearsSinceLastPromotion         int64
YearsWithCurrManager            int64
Attrition                       int64
PerformanceRating               int64
dtype: object

In [48]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

da['OverTime'] = le.fit_transform(da['OverTime'])

print(da)

      EmpNumber  Age  Gender  EducationBackground  MaritalStatus  \
0             0   32       1                    2              2
1             1   47       1                    2              2
2             2   40       1                    1              1
3             3   41       1                    0              0
4             4   60       1                    2              2
...         ...  ...     ...                  ...            ...
1195       1195   27       0                    3              0
1196       1196   37       1                    1              2
1197       1197   50       1                    3              1
1198       1198   34       0                    3              2
1199       1199   24       0                    1              2

      EmpDepartment  EmpJobRole  BusinessTravelFrequency  DistanceFromHome  \
0                 5          13                        2                10
1                 5          13                        2                14
2                 5          13                        1                 5
3                 3           8                        2                10
4                 5          13                        2                16
...             ...         ...                      ...               ...
1195              5          13                        1                 3
1196              1          15                        2                10
1197              1          15                        2                28
1198              0           1                        2                 9
1199              5          13                        2                 3

      EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                     3  ...                            4
1                     4  ...                            4
2                     4  ...                            3
3                     4  ...                            2
4                     4  ...                            4
...                 ...  ...                          ...
1195                  1  ...                            2
1196                  2  ...                            1
1197                  1  ...                            3
1198                  3  ...                            2
1199                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

      YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                           0                     8          0
1                           1                     7          0
2                           1                    12          0
3                          12                     6          0
4                           2                     2          0
...                       ...                   ...        ...
1195                        0                     4          0
1196                        0                     0          0
1197                        3                     8          0
1198                        7                     7          0
1199                        2                     0          1

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [147]:
#You split the data into Train Data & Test Data - Scikit-Learn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_std,y , test_size = 0.2,random_state=1319)
print(X_train.shape)
print(X_test.shape)

(960, 27)
(240, 27)

In [148]:
#Training the Model
from sklearn.linear_model import LogisticRegression #For Algorithm
from sklearn import neighbors #for algorithm
from sklearn.tree import DecisionTreeClassifier #for algorithm
#model = LogisticRegression()
#model = neighbors.KNeighborsClassifier()
model = DecisionTreeClassifier(criterion = 'entropy') #Calling the model/algorithm
model.fit(X_train,y_train) #Training the model/algorithm

DecisionTreeClassifier(criterion='entropy')

In [149]:
#Test The Model
predicted = model.predict(X_test)
predicted

array([3, 3, 3, 3, 2, 2, 3, 2, 2, 2, 3, 3, 2, 3, 4, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 3, 2, 3, 3, 3, 4, 3, 2, 2, 3, 3, 2,
       3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 3, 4, 3, 3, 4, 3, 3, 4, 3, 3,
       3, 3, 3, 3, 3, 2, 3, 4, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 4, 2, 4, 4,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 4, 2,
       3, 2, 3, 4, 2, 3, 4, 2, 3, 3, 3, 3, 4, 3, 4, 3, 3, 2, 3, 2, 3, 3,
       2, 3, 3, 3, 4, 3, 2, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 2, 2, 3,
       3, 2, 3, 3, 3, 3, 4, 3, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 3,
       3, 3, 4, 4, 3, 3, 2, 3, 2, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 3, 4,
       4, 3, 3, 2, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 2, 3, 4, 4, 3, 4])

In [150]:
#Evaluate the Model
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

accuracy_score(y_test,predicted)

0.95

In [146]:
#Accuracy Improving Methods
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)

In [59]:
X_std

array([[-1.73060803, -0.54145787,  0.80942721, ..., -0.68137224,
         1.10025139, -0.41733475],
       [-1.72772128,  1.10988772,  0.80942721, ..., -0.37083419,
         0.8177735 , -0.41733475],
       [-1.72483453,  0.33925978,  0.80942721, ..., -0.37083419,
         2.23016296, -0.41733475],
       ...,
       [ 1.72483453,  1.44015684,  0.80942721, ...,  0.25024191,
         1.10025139, -0.41733475],
       [ 1.72772128, -0.32127846, -1.23544154, ...,  1.49239412,
         0.8177735 , -0.41733475],
       [ 1.73060803, -1.42217552, -1.23544154, ..., -0.06029614,
        -1.15957175,  2.39615797]])

In [99]:
from sklearn.preprocessing import Normalizer
#fit command maintainss the equation structure
X_n = Normalizer().fit_transform(X)

In [100]:
X_n

array([[0.00000000e+00, 4.57516493e-01, 1.42973904e-02, ...,
        0.00000000e+00, 1.14379123e-01, 0.00000000e+00],
       [1.39373668e-02, 6.55056241e-01, 1.39373668e-02, ...,
        1.39373668e-02, 9.75615678e-02, 0.00000000e+00],
       [2.64813571e-02, 5.29627141e-01, 1.32406785e-02, ...,
        1.32406785e-02, 1.58888142e-01, 0.00000000e+00],
       ...,
       [9.96483275e-01, 4.16241970e-02, 8.32483939e-04, ...,
        2.49745182e-03, 6.65987151e-03, 0.00000000e+00],
       [9.98633315e-01, 2.83418470e-02, 0.00000000e+00, ...,
        5.83508615e-03, 5.83508615e-03, 0.00000000e+00],
       [9.98139251e-01, 1.99794345e-02, 0.00000000e+00, ...,
        1.66495288e-03, 0.00000000e+00, 8.32476439e-04]])